absl-py==1.2.0
alabaster==0.7.12
arelle==2.2
argcomplete @ file:///tmp/build/80754af9/argcomplete_1618920853202/work
argon2-cffi @ file:///C:/ci/argon2-cffi_1613038019788/work
arviz @ file:///tmp/build/80754af9/arviz_1614019183254/work
async-generator==1.10
atari-py==0.2.9
atomicwrites==1.4.1
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
Babel==2.10.3
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.10.0
bleach @ file:///tmp/build/80754af9/bleach_1628110601003/work
Box2D==2.3.10
brotlipy==0.7.0
bs4==0.0.1
cached-property==1.5.2
cachetools==5.2.0
certifi==2022.6.15
cffi @ file:///C:/ci/cffi_1625831764494/work
cftime @ file:///D:/bld/cftime_1656803796458/work
charset-normalizer==2.0.4
chromedriver-autoinstaller==0.2.2
cloudpickle==2.1.0
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
configparser==5.1.0
crayons==0.4.0
cryptography @ file:///C:/ci/cryptography_1616769432139/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython @ file:///D:/bld/cython_1652809537752/work
dart-fss==0.3.13
debugpy @ file:///C:/ci/debugpy_1637091911212/work
decorator @ file:///tmp/build/80754af9/decorator_1632776554403/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
docutils==0.17.1
entrypoints==0.3
et-xmlfile==1.1.0
fake-useragent==0.1.11
fasteners==0.17.3
fonttools @ file:///D:/bld/fonttools_1657249533516/work
future @ file:///D:/bld/future_1649010380983/work
glfw==2.5.4
google-auth==2.11.0
google-auth-oauthlib==0.4.6
grpcio==1.48.1
gym==0.25.0
gym-notices==0.0.7
halo==0.0.31
idna==3.2
ImageHash==4.2.1
imageio==2.19.5
imagesize==1.4.1
importlib-metadata @ file:///C:/ci/importlib-metadata_1631916842152/work
iniconfig==1.1.1
ipdb==0.13.9
ipykernel @ file:///C:/ci/ipykernel_1633527406033/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1635944342510/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
isodate==0.6.0
jedi @ file:///C:/ci/jedi_1611315820849/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1635780242639/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1637148478538/work
jupyter-core @ file:///C:/ci/jupyter_core_1636537209059/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
kiwisolver @ file:///C:/ci/kiwisolver_1653274189334/work
log-symbols==0.0.14
lxml==4.6.3
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib @ file:///D:/bld/matplotlib-suite_1651609684558/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mistune @ file:///C:/ci/mistune_1594373272338/work
MouseInfo==0.1.3
mplfinance==0.12.7a17
mujoco==2.2.0
mujoco-py==2.1.2.14
multitasking==0.0.9
munkres==1.1.4
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///C:/ci/nbconvert_1624479160228/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
netCDF4 @ file:///D:/bld/netcdf4_1656505682593/work
notebook @ file:///C:/ci/notebook_1637161899610/work
numpy @ file:///D:/bld/numpy_1649806536290/work
numpydoc==1.4.0
oauthlib==3.2.0
openpyxl==3.0.9
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas @ file:///D:/bld/pandas_1636223595114/work
pandas-datareader==0.10.0
pandocfilters @ file:///C:/ci/pandocfilters_1605102427207/work
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///D:/bld/pillow_1657007284448/work
pluggy==1.0.0
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1637050397234/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.4
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
PyGetWindow==0.0.9
pygit2==1.10.0
pyglet==1.5.26
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
PyMsgBox==1.0.9
PyMySQL==1.0.2
PyOpenGL==3.1.6
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyperclip==1.8.2
PyRect==0.1.4
pyrsistent @ file:///C:/ci/pyrsistent_1636093257833/work
PyScreeze==0.1.28
PySocks @ file:///C:/ci/pysocks_1594394709107/work
pystan==2.19.1.1
pytest==7.1.2
pytest-instafail==0.3.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytweening==1.0.4
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
PyWavelets==1.3.0
pywin32==228
pywinpty==0.5.7
pyzmq @ file:///C:/ci/pyzmq_1628276101517/work
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.9
scipy @ file:///C:/bld/scipy_1637806996411/work
seaborn==0.11.2
selenium==3.141.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
snowballstemmer==2.2.0
soupsieve==2.2.1
Sphinx==5.1.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.9.4
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
Theano==1.0.5
toml==0.10.2
tomli==2.0.1
torch==1.12.1
tornado @ file:///C:/ci/tornado_1606935947090/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
unicodedata2 @ file:///D:/bld/unicodedata2_1649112131705/work
urllib3==1.26.7
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webdriver-manager==3.5.2
webencodings==0.5.1
Werkzeug==2.2.2
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
wincertstore==0.2
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1639125986756/work
yfinance==0.1.63
zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work
